<div class="form-sub-a fx">

    <div class="nav">
        <ul class="nav-iner">
            <li><a href="http://m.fruitday.com:80/index" class="a-iteam "><div class="ftnav-home"></div><span>首页</span></a></li>
            <li><a href="http://m.fruitday.com:80/cat/106092" class="a-iteam "><div class="ftnav-sort"></div><span>品类</span></a></li>
            <li><a href="http://m.fruitday.com:80/user/toLogin" class="a-iteam "><div class="ftnav-myfru"></div><span>我的果园</span></a></li>
            <li><a href="http://m.fruitday.com:80/cart/ls" class="a-iteam "><div class="ftnav-cart"><i id="cartCount">0</i></div><span>购物车</span></a></li>
            <li><a href="http://m.fruitday.com:80/more.jsp" class="a-iteam  "><div class="ftnav-more"></div><span>更多</span></a></li>
        </ul>
    </div>
</div>