
<div class="easyui-panel" style="padding:5px;">
    <div style="width:200px;float:left" class="left">
        <div style="padding:10px"><a  href="#" class="easyui-linkbutton btn_show_shop_grid" data-options="iconCls:'icon-search'" style="width:100%">商户列表</a></div>
        <div style="padding:10px"><a  href="#" class="easyui-linkbutton btn_create_partner" data-options="iconCls:'icon-add'" style="width:100%">添加商户</a></div>
    </div>
    <div style="width:700px;float:left" class="right">

    </div>
    <div style="clear:both"></div>

</div>

<script type="text/javascript">
    $('.btn_create_partner').click(function(){
        $('.content .right').bigwin('loadView','forms/partner_create_form');
    });

    $('.btn_show_shop_grid').click(function(){
        $('.content .right').bigwin('loadView','grids/shop');
    });

    $('.btn_show_shop_grid').click();
</script>