<form action="" method="get" class="prd_search_form">
    <table>
        <tr>
            <td>商品名称:</td>
            <td><input name="name" class="f1 easyui-textbox" data-options="required:true"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="搜索"></td>
        </tr>
    </table>
</form>

<div class="easyui-pagination prd_search_pager" data-options="pageSize:50">
</div>


<script type="text/javascript">
(function(){
    $('form.prd_search_form').form({
        onSubmit: function(options){
            var options=$(this).form('options');
            var isValid = $(this).form('validate');
            if (isValid){
                console.log(options.url);
                var params=$(this).serializeArray();
                $.sget(options.url,params,function(data){
                    flatArray(data.content)
                    console.log(data.content);

                    $('.prd_search_result').datagrid('loadData',data.content);
                });
            }
            return false;
        }
    });
    $('.prd_search_pager').pagination({
        onSelectPage:function(pageNumber, pageSize){
            $(this).pagination('loading');
            search(pageNumber);
            $(this).pagination('loaded');
        }
    });
    function search(page){
        $('form.prd_search_form').form('submit', {
            url:'/api/partners/'+qs['pa']+'/products?page='+Math.max(page-1,0),
        });
    }
    search(1);
})();
</script>