body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p{clear: both;}

.content .right{
	padding: 10px;
	border-left: 1px solid #ccc;
}

.content .left{
	margin: 30px 0;
	border-top: 1px solid #ccc;
}

.content form{
	padding: 10px;
}

input[type=submit]{
	width: 120px;
	background: #ccf;
}

@media screen and (min-width: 320px) and (max-width: 480px){
	body{padding: 2px}
	.content form{padding: 2px}
}
